* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    background-image: url("/assets/img/carillionbanner.jpeg");
    height: 100vh;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.home-overlay {
    align-items: center;
}

.logo img {
    width: 400px;
    position: absolute;
    bottom: 100px;
    right: 50px;
}

.down-arrow {
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: pink;
    font-size: 50px;
}

.navbar {
    padding-top: 0;
}
